.name-color{
    color: brown;
}
h1{
    font-size: 35px;
}
h3{
    font-size: 25px;
}
.sec1{
    display: flex;
    margin-top: 15px;
}
.d1{
    width: 50%;
    padding-left: 2%;
}
.d1 img{
    width: 80%;
    height: 80%;
    padding-left: 5%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(tomato, orange);
    border-radius: 3%;
    font-weight: 600;
    color: gray;
    padding: 5px 20px;
}
.sec2{
    display: flex;
    margin-top: 15px;
}
#baby{
    padding-top: 50px;
}
.d2{
    width: 50%;
    padding-right: 2%;
}
.d2 img{
    width: 80%;
    height: 80%;
    padding-left: 5%;
}

footer p{
    text-align: center;
    color: gray;
    font-size: 11px;
}